body {
    margin: 0px;
    background-color: $main-bg;
    color: $text-color;
}

a {
    text-decoration: none;
    color: $main;
}

.main-button {
    padding: 10px 20px;
    background-color: $main;
    color: $main-bg;
    border-radius: 3px;
    transition: 0.3s;

    &:hover {
        transition: 0.3s;
        background-color: $white;
        color: $main;
    }
}

h1 {
    font-size: 3.25rem;
}

h2 {
    font-size: 2.5rem;
    margin-block-end: 1rem;
}
