#block-ludvigs-local-tasks {
    margin-top: 1.25rem;

    h2 {
        display: none;
    }

    ul {
        display: flex;
        margin-block-start: 0;
        margin-block-end: 0;
        padding-inline-start: 0;
        list-style-type: none;
        border-bottom: 1px solid $white;

        li {
            margin: 0 0.5rem;
            padding: 0.5rem;
            background-color: $white;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            &:nth-child(1) {
                margin: 0 0.5rem 0 0;
            }
            &:last-child {
                margin: 0 0 0 0.5rem;
            }
        }
    }
}

// Messages section

mark {
    margin: 3rem 1rem;
}

@media only screen and (min-width: 767px) {
    mark {
        margin: 5rem 2rem;
    }
}

@media only screen and (min-width: 1921px) {
    mark {
        > div {
            max-width: 1920px;
            margin-left: auto;
            margin-right: auto;
        }
    }
}