#section-top {
    padding: 0 1rem;
    .two-columns {
        margin-top: 5px;
    }
}

.two-columns {
    img {
        display: none;
        max-width: 100%;
        height: auto;
    }
    .mobile {
        img {
            display:block;
        }
    }
    .left-column {
        p {
            margin-block-end: 1.5rem;
        }
    }
}

@media only screen and (min-width: 767px) {
    #section-top {
        padding: 0 2rem;
        img {
            display: block;
        }
        .mobile {
            img {
                display: none;
            }
        }
    }

    .two-columns {
        display: flex;
        flex-flow: row-reverse;
        align-items: center;

        > div {
            width: 50%;
        }
    }

}