// Top section
#section-top {
    padding: 0 1rem 3rem 1rem;
    animation: 1.5s fadeIn;
    .two-columns {
        margin-top: 5px;

        img {
            display: none;
            max-width: 100%;
            height: auto;
        }
        .mobile {
            img {
                display:block;
            }
        }
        .left-column {
            p {
                margin-block-end: 1.5rem;
            }
        }
    }
}

@media only screen and (min-width: 767px) {
    #section-top {
        padding: 0 2rem 5rem 2rem;

        .two-columns {
            display: flex;
            flex-flow: row-reverse;
            align-items: center;
    
            > div {
                width: 50%;
            }
        }

        img {
            display: block;
        }
        .mobile {
            img {
                display: none;
            }
        }
    }

    

}

// Tiles section

#tiles {
    padding: 3rem 1rem;

    >div {
        >div {
            text-align: center;
            margin: 5rem 0;

            >h2 {
                display: none;
            }
            > div {
                font-size: 1.575rem;
                font-weight: 500;
                > p {
                    font-size: 1rem;
                }
            }
        }
    }
}

@media only screen and (min-width: 767px) {
    #tiles {
        padding: 5rem 2rem;

        >div {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 5rem;

            >div {
                margin:0;
            }
        }
    }
}

@media only screen and (min-width: 1200px) {
    #tiles {
        >div {
            grid-gap: 9rem;
            >div {
                padding: 0 7rem;
            }
        }
    }
}

// Sidebar section
.sidebar_sections {
    padding: 3rem 1rem;
}

@media only screen and (min-width: 767px) {
    .sidebar_sections {
        padding: 5rem 2rem;
        > aside {
            width: 50%;
        }
    }
}

// Middle section

// Top section
#section-middle {
    padding: 3rem 1rem;
    .two-columns {
        margin-top: 5px;

        img {
            display: none;
            max-width: 100%;
            height: auto;
        }
        .mobile {
            img {
                display:block;
            }
        }
        .left-column {
            p {
                margin-block-end: 1.5rem;
            }
        }
    }
}

@media only screen and (min-width: 767px) {
    #section-middle {
        padding: 5rem 2rem;
        .two-columns {
            display: flex;
            flex-flow: row;
            align-items: center;
    
            > div {
                width: 50%;
                
                img {
                    display: block;
                }
                .mobile {
                    img {
                        display: none;
                    }
                }
            }

            .left-column {
                margin-left: 1.5rem;
            }
        }
    }

}

// Larger displays
@media only screen and (min-width: 1921px) {
    .sidebar_sections, #section-top, #section-middle, #section-bottom, #tiles {
        max-width: 1920px;
        margin-left: auto;
        margin-right: auto;
    }
}