main {
    padding: 0 1rem;
}

@media only screen and (min-width:767px) {
    main {
        padding: 0 2rem;
    }
}

@media only screen and (min-width: 1921px) {
    main {
        > div {
            max-width: 1920px;
            margin-left: auto;
            margin-right: auto;
        }
    }
}