footer {
    background-color: $white;
    padding: 3rem 1rem;

    h2 {
        display: none;
    }
}

.footer-left {
    nav {
        > ul {
            list-style-type: none;
            font-size: 1.25rem;
            padding-inline-start: 0px;
            li {
                margin-bottom: 2rem;
                a {
                    color: #000000;
                    transition: 0.3s;
                    &:hover {
                        color: $main;
                        transition: 0.3s;
                    }
                }
            }
        }
    }
}

.footer-right {
    >div {
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;

        >div {
            width: 20%;
            flex-grow: 1;
            min-height: 87.5px;
            box-sizing: border-box;
            margin: 0 5px 10px;
            justify-content: space-between;
            text-align: center;

            &:nth-child(1) {
                width: 100%;
            }
          }

        img {
            max-height: 150px;
        }
    }
}

@media only screen and (min-width: 767px) {
    footer {
        padding: 5rem 2rem;
        .footer-split {
            display: flex;
            flex-wrap: wrap;
            .footer-left, .footer-right {
                flex: 1;
            }
        }
    }
}

@media only screen and (min-width: 1200px) {
    .footer-right {
        >div {
            padding: 0 4rem;
        }
    }
}

@media only screen and (min-width: 1921px) {
    footer {
        > div {
            max-width: 1920px;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

