footer {
    background-color: $white;
    padding: 3rem 1rem;

    h2 {
        display: none;
    }
}

.footer-right {
    >div {
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;

        >div {
            width: 25%;
            flex-grow: 1;
            min-height: 87.5px;
            box-sizing: border-box;
            margin: 0 5px 10px;
            justify-content: space-between;
            text-align: center;

            &:nth-child(1) {
                width: 100%;
            }
          }
    }
}

@media only screen and (min-width: 767px) {
    footer {
        padding: 5rem 2rem;
        .footer-split {
            display: flex;
            flex-wrap: wrap;
            .footer-left, .footer-right {
                flex: 1;
            }
        }
    }
}

@media only screen and (min-width: 1921px) {
    footer {
        > div {
            max-width: 1920px;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

