footer {
    background-color: $white;
    padding: 0 1rem;

    h2 {
        display: none;
    }
}

@media only screen and (min-width: 767px) {
    footer {
        padding: 0 2rem;

        #block-ludvigs-footer {
            color: $text-color;
        }
    }
}

#block-ludvigs-footer {
    padding: 1.5rem 0;

    >ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1.5rem;
        font-size: 1.25rem;

        li {
            a {
                color: $text-color;
            }
        }
    }
}

@media only screen and (min-width: 1921px) {
    footer {
        > div {
            max-width: 1920px;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

// Social icons
#block-socialicons {
    > div {
        display: flex;
        justify-content: space-around;
    }
}

@media only screen and (min-width: 767px) {
    #block-socialicons {
        > div {
            p {
                img {
                    margin: 0 2rem;
                }
            }
        }
    }
}