header.main {
    display: flex;
    justify-content: space-between;
    nav {
        h2 {
            display: none;
        }
        ul {
            margin-block-start: 0;
            margin-block-end: 0;
            padding-inline-start: 0;
            list-style-type: none;
            display: flex;

            li {
                a {
                    color: $main;
                }
            }
        }
    }
}