.two-columns {
    &.about {
        .left {
            margin-top:auto;
            margin-bottom: auto;
            .services {
                margin-top: 50px;
            }
        }
    }
}

@media only screen and (max-width:766px) {
    .two-columns {
        &.about {
            display: flex;
            flex-flow: column-reverse;
        }
    }
}