.two-columns.about {
    padding-bottom: 4rem;
    padding-top: 1rem;
    grid-gap: 5rem;


    .left {
        margin-top:auto;
        margin-bottom: auto;
        .services {
            margin-top: 50px;
            font-size: 1.5rem;
        }
    }

    h1 {
        text-align: left;
    }

    img {
        width: 100%;
        height: auto;
    }
}

@media only screen and (max-width:766px) {
    .two-columns.about {
        display: flex;
        flex-flow: column-reverse;

        .left {
            text-align: center;
            ul {
                padding-inline-start: 0px;
                li {
                    list-style-position: inside;
                    margin-bottom: 1.3rem;
                    font-size: 1.5rem;
                }
            }
        }
    }
}

@media only screen and (min-width: 767px) {
    .two-columns.about {
        .two-columns {
            &ul {
                li {
                    margin-bottom: 2rem;
                }
            }
        }
    }
}