// Contact page

.page-node-type-contact-page {
    h1, h2, h3, h4, h5, h6, p, form {
        animation-name: fadeIn;
        animation-duration: 0.45s;
    }
    main {
        article {
            footer {
                display: none;
            }
        }

        .contact-data {
            .column {
                display:flex;
                align-items:center;
                flex-flow: column;
                font-size: 2rem;
                margin-bottom: 5rem;
                animation-name: slideInBottom;
                animation-duration: 0.75s;
            }

            img {
                max-height: 101px;
                width: auto;
            }
        }
    }
}

@media only screen and (min-width: 767px) {
    .page-node-type-contact-page {
        main {
            .contact-data {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
            }
        }
    }
}