/**
 * Main colors
 */

$main-bg: #f2daaa;
$main:  #759c25;
$text-color: #674015;
$white: #ffffff;

@keyframes fadeIn {
    0% {
        opacity: 0;
        margin-top:2rem;
    }
    100% {
        opacity: 1;
        margin-top: 0;
    }
}