/**
 * Main variables
 */
 @import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

$main-bg: #f2daaa;
$main:  #749C25;
$text-color: #674015;
$white: #ffffff;
$main-font: 'Questrial', sans-serif;

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform:translateY(-50px);
    }
    100% {
        opacity: 1;
        margin-top: 0;
    }
}

@keyframes slideInTop {
    0% {
        opacity: 0;
        transform: translateY(-75px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideInBottom {
    0% {
        opacity: 0;
        transform: translateY(25px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}