/**
 * Main colors
 */

 @import url('http://fonts.cdnfonts.com/css/termina');

$main-bg: #f2daaa;
$main:  #749C25;
$text-color: #674015;
$white: #ffffff;
$main-font: 'Termina', sans-serif;

@keyframes fadeIn {
    0% {
        opacity: 0;
        margin-top:2rem;
    }
    100% {
        opacity: 1;
        margin-top: 0;
    }
}